<footer class="footer">
    <div class="container">
        <a href="https://www.linkedin.com/in/yacel-gonzalez-aa93061b5/" target="_blank">
            <i class="fab fa-brands fa-linkedin fa-3x" style="color: #ffffff;"></i>
        </a>
        <p>&copy; 2023 Yacel. All Rights Reserved.</p>
        <p>Contribution for images using in this site:</p>
        <a href="https://www.freepik.es/vector-gratis/tecnologia-digital-e-ingenieria-concepto-telecomunicaciones-digitales-ilustracion-vector-fondo-tecnologia-futurista_27650278.htm#query=engranajes&position=42&from_view=search&track=sph">Imagen de WangXiNa</a> en Freepik
        Image by <a href="https://www.freepik.com/free-vector/programmers-concept-with-flat-design_2456089.htm#page=3&query=coding%20python%20books%20IA%20svg&position=26&from_view=search&track=ais">Freepik</a>
        Blog writer Illustrationa by <a href="https://iconscout.com/illustrations/blog-writer" target="_blankFree">iconscout</a> Graphicsa on <a href="https://iconscout.com">iconscout</a>
    </div>
</footer>