<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" preserveAspectRatio="xMidYMid meet">
    <g text-anchor="middle">
        <a (click)="scrollToSection('about')"><text x="20%" y="20%" text-anchor="middle">About Me</text></a>
        <a (click)="scrollToSection('skills')"><text x="48%" y="20%" text-anchor="middle">Skills</text></a>
        <a (click)="scrollToSection('contact')"><text x="80%" y="20%" text-anchor="middle">Contact Me</text></a>
        <image href="../../../assets/img-1.1.jpg"  id="img-1" x="0%" y="28%" width="70%" height="70%"></image>
        <image href="../../../assets/img-2.svg" id="img-2" x="30%" y="45%" width="70%" height="70%"></image>
    </g>
</svg>
